{% extends 'base.html' %}

<!-- {% block title %}注册{% endblock %} -->

{% block content %}
<!-- <h1>注册</h1>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="注册"/>
</form> -->


<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Please sign up</h5>
        <form class="form-signin" role="form" action="{% url 'signup' %}" method="POST">{% csrf_token %} 
            {% autoescape off %}
                {% for field in user_form %}

                {% if field.errors %}<br/>
                <span class="red">{{ field.errors.as_text }} </span>
                <br/>{% endif %}
                <div class="form-label-group">
                    <br/>
                    {{ field }}                
                </div>
                {% endfor %}
            {% endautoescape %}
            <br/>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
        </form>
    </div>
</div>
{% endblock %}