{% extends "base.html" %}

{% block content %}
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form action="{% url 'signin' %}" method="POST" class="form-signin" role="form">{% csrf_token %}
                    {% for field in form %}
                    <div class="form-label-group">
                        <label></label>
                        {{ field }}                
                    </div>
                    {% endfor %}
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    <a href="{% url 'forgotpassword' %}">forgot password</a>
                </form>
            </div>
        </div>
    </form>

{% endblock %}