<div class="card" style="width: 30rem">
    <div class="row no-gutters">
        {% if inventory.book.image %}
        <div class="col-auto">
            <div>
                <a href="{{ inventory.get_absolute_url }}">
                    <img style="width: 8rem; height: 12rem" src="{{ inventory.book.image.url }}" class="img-fluid" alt="{{ inventory.title}} cover image">
                </a>                
            </div>
            <div>
                {% include 'inventory/snippets/update-cart.html' with inventory=inventory cart=cart %}
            </div>
        </div>
        {% endif %}
        <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title">{{ inventory.book.title }}</h4>
                {% if inventory.book.sub_title %}
                <h6 class="card-title">{{ inventory.book.sub_title }}</h6>
                {% endif %}
                <span class="card-text">by {{ inventory.book.author }}</span><br />
                {% if inventory.book.publisher %}
                <span class="card-text"> {{ inventory.book.publisher }}</span><br />
                {% endif %}
                {% if inventory.book.page_count %}
                <span class="card-text">Pages: {{ inventory.book.page_count }}</span><br />
                {% endif %}
                {% if inventory.book.word_count %}
                <span class="card-text">Words: {{ inventory.book.word_count }}</span><br />
                {% endif %}
                <span class="card-text"># {{ inventory.call_number }}</span>
                <span class="card-text text-primary">Available({{ inventory.available_count }})</span>
                {% if inventory.unavailable_count > 0 %}
                <span class="card-text text-warning">Unavailable({{ inventory.unavailable_count }})</span>
                {% endif %}                         
                <p class="card-text">{{ inventory.book.description|linebreaks|truncatewords:20 }}</p>
                <p>{% for tag in inventory.book.categories.all %}
                <a href="?q={{ tag.type}}:{{tag.title }}"><span class="badge badge-light">{{ tag.title }}</span></a>
                {% endfor %}</p>
            </div>
        </div>
    </div>
</div>
